.pro-categories{
    width: 750px;
    height:auto;
    overflow: hidden;
}

.header{
    width: 100%;
    height: 88px;
    background: #44a11b;
}

.header .icon-return{
    font-size: 58px;
    color: #fff;
    float: left;
    margin:16px 40px 16px 22px;
}

.header .icon-fangdajing{
    font-size: 28px;
    position: absolute;
    left: 130px;
    top: 30px;
    color: #999999;

}

.header input{
    width: 380px;
    height: 68px;
    margin-bottom: 20px;
    background: #fff;
    float: left;
    margin: 10px 0px;
    font-size: 24px;
    color: #a09d9d;
    padding-left: 52px;
    box-sizing: border-box;
}

.header .btn{
    width: 99px;
    height: 68px;
    margin-left: -5px;
    background: #aeff8a;
    font-size: 26px;
    color: #44a11b;
    padding-left: 5px;
}

.header .icon-saoyisao{
    font-size: 40px;
    color:#fff;
    float:left;
    margin:23px 52px;
}

.main{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.main .submenu{
    width:145px;
    height:auto;
    overflow: hidden;
    position: absolute;
    float: left;
}

.main .submenu li{
    width:100%;
    height:97px;
    font-size: 24px;
    background: #f6f6f6;
    color:#4b4b4b!important;
    line-height:97px;
    text-align: center;
}



.main .pro-list{
    float:right;
    width: 605px;
}


/* 不同尺寸的图片水平垂直居中 */
.main .pro-list li{
    float: left;
    width:300px;
    height: 320px;
    line-height: 300px;
    /* outline: 1px solid #000; */ 
    text-align: center;
}

/* 不同尺寸的图片水平垂直居中 */
.main .pro-list li   img{
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    /* outline: 1px solid #000; 图片加边框*/
}

.main .pro-list li h3{
    width: 300px;
    height: 28px;
    color: #434343;
    font-size: 24px;
    margin-top: -155px;
}
.router-link-active{
    background:#fff!important;
}
